<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include('partials/navbar.ejs') %>

    <main>
    <section class="hero-section">
        <div class="hero-overlay">
            <div class="hero-content">
                <h1>Ignite Your Future</h1>
                <p>Discover a world of knowledge and opportunity with UniPortal.</p>
                <a href="/register" class="btn-hero">Join Now</a>
            </div>
        </div>
    </section>
</main>





    <%- include('partials/footer.ejs') %>
</body>
</html>